# System Files
.DS_Store

# Extra Project Files
compile_commands.json
.clangd

# Temporary Files
*.swp

# Build Directory
build

# Documentation output
html
latex

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
